* {
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
}

body {
    background-color: rgb(99, 37, 157);
}

main{
    background-color: rgb(218, 122, 122);
    width: 500px;
    margin: auto;
    padding: 10px; 
    box-shadow: 3px 3px 3px 5px rgba(4, 4, 4, 0.579);
}